<app-header></app-header>

<br>
<mat-card class="intro-card">
  <mat-card-header>
    <mat-card-title style="font-size: 20px">¿Que es el IMC?</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>

  <br>
  <mat-card-content>
    <p>
      El índice de masa corporal (IMC) es una razón matemática que asocia la masa y la talla de un individuo, ideada por el estadístico
      belga Adolphe Quetelet; por lo que también se conoce como índice de Quetelet.
    </p>

    <p>
      Hay que destacar que no se pueden aplicar los mismos valores de IMC en niños y adolescentes debido a su constante aumento
      de estatura y desarrollo corporal, por lo que se obtiene un IMC respecto a su edad y sexo.
    </p>

    <p>
      Por ello, primero se deberá contar con la fecha de nacimiento y de medición para obtener la edad calculada y así ser más
      precisos al categorizar a éste grupo de edad.
    </p>

    <p>
      Después se calculará el IMC con la misma fórmula que para el adulto, y después de calcularse el IMC para este grupo de edad,
      el valor del IMC se comparará en tablas de crecimiento del CDC para el IMC por edad tanto para niños y niñas respectivamente
      para obtener la categoría del percentil. Dichos percentiles son una medida de dispersión que se utiliza con más frecuencia
      para evaluar el tamaño y los patrones de crecimiento de cada niño en los Estados Unidos, debido a que son menos susceptibles
      a presentar valores extremos y por lo tanto errores en los rangos de valores. El percentil indica la posición relativa
      del número del IMC del niño entre niños del mismo sexo y edad. Las tablas de crecimiento muestran las categorías del
      nivel de peso que se usan con niños y adolescentes (bajo peso, peso saludable, sobrepeso y obeso).
    </p>
  </mat-card-content>

</mat-card>


<br>
<mat-card class="imc-card">
  <mat-card-header>
    <mat-card-title style="font-size: 20px">Cálculo del IMC:</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-toolbar class="imc-toolbar">


    <mat-toolbar-row class="text-row">
      <span>Escriba su ALTURA actual:</span>
      <span class="example-spacer"></span>
      <mat-form-field class="example-ele">
        <input matInput>
      </mat-form-field>
      <span class="example-ele">CM.</span>
    </mat-toolbar-row>

    <mat-toolbar-row class="text-row">
      <span>Escriba su PESO actual:</span>
      <span class="example-spacer"></span>
      <mat-form-field class="example-ele">
        <input matInput>
      </mat-form-field>
      <span class="example-ele">KG.</span>
    </mat-toolbar-row>

    <mat-toolbar-row class="calc-button">
      <button mat-raised-button color="primary">CALCULAR</button>
    </mat-toolbar-row>

  </mat-toolbar>

  <mat-card class="hint-card">
    <mat-card-header>
      <mat-card-title style="font-size: 15px">RECUERDE:</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      Es importante que recuerde introducir su altura en centimetros en lugar de en metros en la casilla de altura. De esta forma,
      si mide 1.70 metros, deberá escribir 170 en el cuadro de altura.
    </mat-card-content>
  </mat-card>

</mat-card>
<br>

<mat-card class="imc-card">
  <mat-card-header>
    <mat-card-title style="font-size: 20px">Resultado del IMC:</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-toolbar class="imc-toolbar">


    <mat-toolbar-row class="text-row">
      <span>Índice de Masa Corporal</span>
      <span class="example-spacer"></span>
      <mat-form-field class="example-ele">
        <input matInput disabled>
      </mat-form-field>

    </mat-toolbar-row>

    <mat-toolbar-row class="text-row">
      <span>Según su valor de IMC, tiene:</span>
      <span class="example-spacer"></span>
      <mat-form-field class="example-ele">
        <input matInput disabled>
      </mat-form-field>

    </mat-toolbar-row>


  </mat-toolbar>
  <br>
  <span>Clasificación de la Organización mundial de la salud:</span>
  <br>
  <br>
  <mat-card class="hint-card">
    <mat-card-header>
      <mat-card-title style="font-size: 15px">RESULTADOS:</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>IMC</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="clasif">
            <th mat-header-cell *matHeaderCellDef>Clasificación</th>
            <td mat-cell *matCellDef="let element"> {{element.clasif}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"><span class="example-spacer"></span></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"><span class="example-spacer"></span></tr>
      </table>
    </mat-card-content>
  </mat-card>

</mat-card>